  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="button">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Instructor</a>
            <div id = 'list' class="hide">
               <ul id = 'list-ul'>
                <li>Records</li>
                <li>Courses</li>
                <li>Learn</li>
              </ul>
            </div>
           </div>
         <div>
         <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <% if !admin_signed_in? %>  
              <li><%= link_to("Log In", new_admin_session_path) %></li>
              <li><%= link_to("Sign Up", new_admin_registration_path) %></li>
            <%else%>
              <li><%= link_to("Log Out", destroy_admin_session_path, method: :delete) %></li>
            <%end%>
          </ul>
        </div> 
    </div>
  </nav>

<%if admin_signed_in? %>
      <div class="cont">
        <div class="left">
          <h1><%= gravatar_for current_admin %></h1>
          <div class="info">
            <div class="email">
              <span class="value"><%= current_admin.first_name%> <%= current_admin.last_name%></span>
              <span class="key"><%= current_admin.email%> </span><br>
            </div>
          </div>
        </div>
        <div class="right"></div>
      </div>
    <div class="container">
      <div class="centered">
        <div class="dropdown">

          <!-- trigger button -->
            <button>Courses</button>

          <!-- dropdown menu -->
              <ul class="dropdown-menu">
                  <li><%#= link_to course.name, course_path(course) %></li>
                    <li>
                      <a href="/courses/">
                        <% Course.all.each do |course|%>
                          <li>
                            <%= course.name%>
                          </li>
                        <%end%>
                      </a>
                    </li>
                    </ul>
              </div>
      
        <div class="dropdown">

          <!-- trigger button -->
            <button>Students</button>

          <!-- dropdown menu -->
            <ul class="dropdown-menu">
                <li>
                    <% Student.all.each do |student|%>
                      <li>
                        <a href=""><%= student.first_name%></a>
                      </l1>
                    <%end%>
                </li>
            </ul>
        </div>
      </div>
    </div> 
<%end%>

