<table class="student-table" style="margin: auto;">
  <tr>
    <th>name</th>
    <th>monday</th>
    <th>tuesday</th>
    <th>wednesday</th>
    <th>thursday</th>
    <th>friday</th>
  </tr>
    <% @table_data.each_pair do |key, student_data| %>
      <tr>
        <td><%= student_data[:name] %></td>
        <td><%= student_data[:monday] %></td>
        <td><%= student_data[:tuesday]%></td>
        <td><%= student_data[:wednesday]%></td>
        <td><%= student_data[:thursday]%></td>
        <td><%= student_data[:friday]%></td>
      </tr>
    <% end %>
</table>
